<!DOCTYPE html>
<html>
<head>
  <title>YapoCl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<nav class="navbar navbar-inverse">
	  <div class="container">
			<%- if user_signed_in? %>
				<%= link_to "Cerrar sesion",destroy_user_session_path, method: :delete %>
				<%= link_to "Mi perfil",edit_user_registration_path, method: :edit %> 	
			<% end %> 
	  </div>
	</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
